<div class="row">
    <div class="col-lg-4 offset-lg-5">
        <h2 class="titulo">RESULTADO</h2>       
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="fondoItem">
                <div class="contenedor">
                    <p class="resultado">{{resultado}}</p>
                    <p class="estiloNumero">{{bmi}}</p>
                    <p class="interpretacion">{{interpretacion}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="col-lg-6 offset-lg-3">
            <button class="btn btn-lg btn-primary btn-block btnColor" routerLink="/">RE-CALCULAR</button>
        </div>
    </div>
</div>
